{% extends "base_template.html" %}
{% load static %}
{% load helper_filters %}

{% block content %}
<!-- Shop Page Start  -->
        <div class="shop-category-area pt-0px pb-100px">
            <div class="container">
                <div class="page-heading">
                    <div class="wrapper-inside">
                        <div class="page-heading-holder">
                            {% if product_type == 'phones' %}
                            <video class="product-video" controls autoplay muted playsinline loop>
                                <source src="/media/videos/introducing_iphone_16_concept_trailer.mp4" type="video/mp4">
                            </video>
                            {% endif %}
                        </div>
                    </div>
                    <div class="wrapper-inside">
                        <div class="page-heading-title">
                            <h1>Каталог</h1>
                        </div>
                    </div>
                    <nav class="breadcrumb-catalog" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">Главная</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{% url 'phones_catalog' product_type=product_type %}">{{ product_type_name }}</a>
                            </li>
                            {% if product_name %}
                                <li class="breadcrumb-item">
                                    <a href="{% url 'phones_catalog_with_name' product_type=product_type product_name=product_name %}">{{ product_name }}</a>
                                </li>
                            {% endif %}
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ current_page }}
                            </li>
                        </ol>
                    </nav>
                </div>
                 <div class="product-grid">
                    {% for product in filter_catalog %}
                    <div class="product-item">
                        <a href="{% url 'phones_catalog_with_name' product_type=product.type product_name=product.name %}">
                            <div class="product-img">
                                <img src="{{ product.image }}" alt="{{ product.name }}">
                            </div>
                            <div class="product-name">{{product.name}}</div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                        <!-- Shop Bottom Area Start -->
                        <div class="shop-bottom-area">
                            <!-- Tab Content Area Start -->
                            <div class="row">
                                <div class="col">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="shop-grid">
                                            <div class="row mb-n-30px">
                                                {% for product_el in catalog_data %}
                                                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                                        <div class="card shadow-sm border h-100" style="max-width: 25rem; padding: 1rem;">
                                                            <a href="{% url 'product-detail' slug=product_el.slug stock_id=product_el.stock_id %}" class="text-decoration-none text-dark d-flex flex-column h-100">
                                                                <div class="border rounded p-2" style="background-color: #ffffff;">
                                                                    <img src="{{ product_el.images.0}}" alt="Смартфон" class="card-img-top">
                                                                </div>
                                                                <div class="card-body d-flex flex-column justify-content-between">
                                                                    <div>
                                                                        <h3 class="card-title">{{ product_el.product_name }}
                                                                            {% for property in product_el.properties%}
                                                                                {% if property.name == 'Встроенная память' %}
                                                                                    {{ property.value }}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </h3>
                                                                        <p class="text-dark mb-1"><b>Цвет: </b> {{product_el.color}}</p>
                                                                        <p class="text-dark"><b>Цена:</b> <span class="fst-normal">{{product_el.price}} ₽</span></p>
                                                                    </div>
                                                                    <button class="button-post">Подробнее</button>
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Tab Content Area End -->
                        </div>
                        <!-- Shop Bottom Area End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Page End  -->
{% endblock %}
