{% extends "base_template.html" %}
{% load static %}

{% block content %}

<div class="product-details-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                <div class="product-details-img product-details-tab product-details-tab-2 d-flex">
                    <div class="swiper-container mr-15px zoom-thumbs-2 align-self-start slider-nav-style-1 small-nav">
                        <div class="swiper-wrapper">
                            {% for image in stock_data.images %}
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="{{ image }}" alt="">
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Add Arrows -->
                        <!-- <div class="swiper-buttons">
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div> -->
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container zoom-top-2 align-self-start">
                        <div class="swiper-wrapper">
                            {% for image in stock_data.images %}
                            <div class="swiper-slide">
                                <img class="img-responsive m-auto" src="{{ image }}" alt="">
                                <a class="venobox full-preview" data-gall="myGallery" href="{{ image }}">
                                    <i class="fa fa-arrows-alt" aria-hidden="true"></i>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                <div class="product-details-content quickview-content ml-25px">
                    <h1>{{ product.name }}</h1>
                    <div class="pricing-meta">
                        <ul class="d-flex">
                            <li class="new-price">{{stock_data.price}} рублей</li>
                        </ul>
                    </div>

<!--                            Кнопки добавления в корзину-->

<!--                            <div class="pro-details-quality">-->
<!--                                <div class="cart-plus-minus">-->
<!--                                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1" />-->
<!--                                </div>-->
<!--                                <div class="pro-details-cart">-->
<!--                                    <button class="add-cart"> Add To-->
<!--                                        Cart</button>-->
<!--                                </div>-->
<!--                                <div class="pro-details-compare-wishlist pro-details-wishlist ">-->
<!--                                    <a href="wishlist.html"><i class="pe-7s-like"></i></a>-->
<!--                                </div>-->
<!--                                <div class="pro-details-compare-wishlist pro-details-wishlist ">-->
<!--                                    <a href="compare.html"><i class="pe-7s-refresh-2"></i></a>-->
<!--                                </div>-->
<!--                            </div>-->
                </div>

                <!--========================================-->
                <!-- product details description area start -->
                <!--========================================-->
                <div class="description-review-wrapper">
                    <div id="des-details2" class="tab-pane">
                        <div class="product-anotherinfo-wrapper text-start">
                            <table>
                                {% for property in stock_data.properties%}
                                <tr>
                                    <td style="width: 50%;"><span>{{property.name}}:</span></td>
                                    <td>{{property.value}}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="telegram-button">
                        <form action="https://t.me/iphone_na_dony" method="GET">
                            <button type="submit">
                                <img class="telegram-button-image" src="{% static 'assets/images/icons/telegram_icon.png' %}" alt="Заказать товар">
                            </button>
                        </form>
                    </div>
                </div>
                <!-- product details description area end -->
                <!--========================================-->
            </div>
        </div>
    </div>
</div>
{% endblock %}